:host {
  display: block;
  height: 100%;
}

ion-content {
  --background: var(--cor-secundaria);
  position: relative;
  height: 100%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 380px;
  background: var(--cor-secundaria);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: var(--sombra-suave);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.titulo {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--cor-primaria);
  margin-bottom: 0;
}

.subtitulo {
  font-size: 0.95rem;
  color: var(--cor-texto);
  margin-bottom: 1.5rem;
}

.input-minimal {
  --background: var(--cor-secundaria);
  --border-radius: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
  --color: var(--cor-texto);
  margin-bottom: 1rem;
}

.botao-entrar {
  --background: var(--botao-primario);
  --border-radius: 12px;
  font-weight: 500;
  color: var(--botao-primario-texto);
}

.botao-google {
  --color: var(--botao-primario);
  --border-radius: 12px;
  margin-top: 10px;
  font-weight: 500;
  display: flex;
  gap: 20px;
  justify-content: space-around;

}

.erro {
  font-size: 0.85rem;
  color: var(--cor-erro);
  margin-top: 1rem;
}

.link-registro {
  margin-top: 1rem;

  a {
    color: var(--cor-primaria);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }
}

@media screen and (max-height: 600px) {
  ion-content {
    align-items: flex-start;
    padding-top: 3rem;
    overflow-y: auto;
  }

  .login-box {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
