<ion-header>
  <ion-toolbar>
    <ion-title>Nova Transação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pagina-transacao ion-padding">

  <ion-segment [(ngModel)]="transacao.type" value="saida" class="tipo-segmento">
    <ion-segment-button value="entrada">
      <ion-icon name="arrow-down-outline"></ion-icon>
      <ion-label>Entrada</ion-label>
    </ion-segment-button>
    <ion-segment-button value="saida">
      <ion-icon name="arrow-up-outline"></ion-icon>
      <ion-label>Saída</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item>
    <ion-label position="floating">Valor (R$)</ion-label>
    <ion-input type="number" [(ngModel)]="transacao.value" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Categoria</ion-label>
    <ion-select [(ngModel)]="transacao.category" interface="action-sheet" required>
      <ion-select-option *ngFor="let cat of categorias" [value]="cat">
        {{ cat }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item button detail (click)="abrirCalendario()">
    <ion-label>Data</ion-label>
    <ion-note slot="end">{{ transacao.date | date: 'dd/MM/yyyy' }}</ion-note>
  </ion-item>

  <ion-datetime #calendario
                [(ngModel)]="transacao.date"
                presentation="date"
                showDefaultButtons="true"
                cancelText="Cancelar"
                doneText="Ok"
                style="display: none">
  </ion-datetime>

  <ion-item>
    <ion-label position="floating">Descrição (opcional)</ion-label>
    <ion-textarea [(ngModel)]="transacao.description"></ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="salvar()" class="ion-margin-top">
    Salvar Transação
  </ion-button>

</ion-content>
