ion-content {
  --background: var(--cor--primaria);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}

ion-card {
  background-color: var(--cor-secundaria);
  border-radius: 1rem;
  box-shadow: var(--sombra-suave);
  color: var(--cor-texto);
  padding: 1rem;
  margin-bottom: 1rem;

  ion-card-header {
    padding: 0;

    ion-card-title {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
    }

    ion-card-subtitle {
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--cor-primaria);
    }
  }

  ion-card-content {
    padding-top: 0.5rem;
  }
}

ion-grid {
  gap: 1rem;
}

ion-row {
  gap: 1rem;
}

ion-col {
  padding: 0 !important;
}

ion-col ion-card[color="success"] {
  background-color: #14532d;
  ion-card-subtitle {
    color: #bbf7d0;
  }
}

ion-col ion-card[color="danger"] {
  background-color: #7f1d1d;
  ion-card-subtitle {
    color: #fecaca;
  }
}

canvas {
  width: 100% !important;
  max-height: 240px;
  margin-top: 0.5rem;
  border-radius: 5rem;
}

ion-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: var(--cor-primaria);
}
