.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.titulo {
  text-align: center;

  h1 {
    font-size: 1.8rem;
    color: var(--cor-primaria);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}

ion-card {
  border-radius: 12px;
  box-shadow: var(--sombra-suave);
  background: var(--cor-secundaria);
  color: var(--cor-texto);
}

.card-saldo ion-card-subtitle {
  font-size: 1.4rem;
  font-weight: bold;
}

ion-grid {
  margin-top: 0.5rem;
}

.card-entrada, .card-saida {
  border-radius: 12px;
  ion-card-header {
    text-align: center;
  }
  ion-card-title, ion-card-subtitle {
    color: white;
  }
}

.card-entrada {
  background-color: #28a745 !important;
}

.card-saida {
  background-color: #dc3545 !important;
}

.grafico {
  padding: 1rem;
  canvas {
    max-width: 100%;
    height: auto;
  }
}
